<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="WebGUI" type="Gizmox.WebGUI.Common.Configuration.ConfigHandler, Gizmox.WebGUI.Common, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=263fa4ef694acff6" />
    <section name="wwDbResourceProvider" type="Westwind.Globalization.wwDbResourceProviderSection" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Session Time out value is in minutes and could be changed to any desired value 
         xPort5 will logout the loggedin user when idle for the time specified
       remove this key will disable the Time out function. See xPort5.Public.Logon.AuthLogon() -->
    <add key="sessionTimeout" value="10" />
    <!-- xPort5 Upload Files storage-->
    <add key="InBox" value="C:\Shared\xPort5\InBox\" />
    <add key="OutBox" value="C:\Shared\xPort5\OutBox\" />
    <add key="DropBox" value="C:\Shared\xPort5\DropBox\" />
    <add key="Gswin32_WorkFolder" value="C:\Shared\xPort5\WorkFolder\" />
    <add key="MaxFileSize" value="4096" />
    <add key="MaxLength_SKU" value="8" />
    <add key="MaxLength_ProductCode" value="10" />
    <add key="OldPictureDirectory" value="C:\Shared\xPort5\Picture" />
    <!-- ComboBox Default Values -->
    <add key="Currency" value="USD" />
    <add key="UoM" value="PC" />
    <add key="Origin" value="CHINA" />
    <add key="InputMask" value="4" />
    <!-- Zero based -->
    <add key="PhoneLabels4User" value="1,9,13,23,14" />
    <add key="PhoneLabels4Customer" value="3,4,5,55,14" />
    <add key="PhoneLabels4Supplier" value="3,4,5,55,14" />
    <add key="PhoneLabels4Contact" value="1,9,13,23,14" />
    <add key="SqlQueryLimit" value="500" />
    <add key="CommandTimeOut" value="600" />
    <!-- Use NetSqlAzMan: true/false -->
    <add key="UseNetSqlAzMan" value="false" />
  </appSettings>
  <dataConfiguration defaultDatabase="SysDb" />
  <connectionStrings>
    <add name="OleConn4Excel03" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties=Excel 8.0;" providerName="System.Data.OleDb" />
    <add name="OleConn4Excel07" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 12.0;" providerName="System.Data.OleDb" />
    <add name="SysDb" connectionString="server=10.240.0.4;uid=sa;pwd=sa-9602;database=xPort3_Newish;Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="NetSqlAzManDb" connectionString="data source=10.240.0.4;User ID=sa;Password=sa-9602;Database=NetSqlAzManStorage;Pooling=true;Connect Timeout=600" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <wwDbResourceProvider connectionString="SysDb" resourceTableName="Localizations" designTimeVirtualPath="/internationalization" showLocalizationControlOptions="true" showControlIcons="true" localizationFormWebPath="~/Admin/Localization/default.aspx" addMissingResources="false" useVsNetResourceNaming="false" stronglyTypedGlobalResource="~/App_Code/Resources.cs, AppResources" />
  <WebGUI>
    <!-- The name of the application on VWG Administration Page -->
    <ApplicationName Value="xPort5" />
    <!--  WEBGUI AUTHENTICATION MANAGEMENT
      This section defines the application authentication mode.
      Example: 
        <Authentication Mode="Dialog" Type="Ifn.W2.Web.POC.Forms.Logon, Ifn.W2.Web.POC" />
      Example Help: 
        Mode:
          Dialog - Authentication is done in a popup window
        Type:
          A full type name to handle logon (This class should inherit from the LogonForm)
    -->
    <Authentication Mode="Main" Type="xPort5.Public.Logon, xPort5" />
    <Languages>
      <Language Culture="en-US" />
      <Language Culture="he-IL" />
    </Languages>
    <!--Extension Value=".asmx"/-->
    <TimersEnabled Mode="On" />
    <InlineWindows Mode="On" />
    <StaticResources Mode="Off" />
    <PrivateVersion Value="2" />
    <ModalWindows Mode="Off" />
    <AspCompat Mode="Off" />
    <ForceHTTPS Mode="Off" />
    <!--  WEBGUI APPLICATION MANAGEMENT
      This section maps pages to application forms.
      Example: 
        <Application Code="MainForm" Type="MyCode.MainForm, MyCode"/>.
      Example Help: 
        The current application definition maps the full qualified class name to the 
        specifiec page code. This means that the link http://[host]/MainForm.wgx will
        be handles by the givven application form.
    -->
    <Applications>
      <Application Code="Desktop" Type="xPort5.Desktop, xPort5" Authentication="Default" Stateless="False" ForceSSL="False" />
    </Applications>
    <!--  WEBGUI CONTROL MANAGEMENT 
      This section registers controls so that the webgui server can expose there resources.
    -->
    <Controls>
      <Control Type="Gizmox.WebGUI.Forms.NavigationTabs, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="Gizmox.WebGUI.Forms.UploadControl, Gizmox.WebGUI.Forms.Extended, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=85eae29607c9f5f3" />
    </Controls>
    <!--  WEBGUI THEMES MANAGEMENT
      Selected - The currently selected scheme
    -->
    <Themes Selected="Vista">
      <Theme Name="Vista" Type="Gizmox.WebGUI.Forms.Themes.Vista, Gizmox.WebGUI.Forms.Themes, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=263fa4ef694acff6" MultiThemeSupport="On" />
      <Theme Name="iOS" Type="Gizmox.WebGUI.Forms.Themes.iOS, Gizmox.WebGUI.Forms.Themes, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=263fa4ef694acff6" MultiThemeSupport="On" />
      <Theme Name="Graphite" Type="Gizmox.WebGUI.Forms.Themes.Graphite, Gizmox.WebGUI.Forms.Themes, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=263fa4ef694acff6" MultiThemeSupport="On" />
    </Themes>
    <!--  WebGUI RESOURCE MANAGEMENT
      Icons    - This maps the icon directory (Absolute\Relative path).
      Images    - This maps the images directory (Absolute\Relative path).
      Generated  - This maps the generated resources directory and is requiered for using custom controls (Absolute\Relative path).
      Data    - This maps the data directory which should contain data related files (Absolute\Relative path)  
    -->
    <Directories>
      <Directory Code="Icons" Path="Resources\Icons" />
      <Directory Code="Images" Path="Resources\Images" />
      <Directory Code="Generated" Path="Resources\Generated" />
      <Directory Code="UserData" Path="Resources\UserData" />
      <Directory Code="Upload" Path="C:\Shared\xPort5\Import\" />
      <Directory Code="ProductImage" Path="C:\Shared\xPort5\ProductImage\" />
      <Directory Code="Attachment" Path="C:\Shared\xPort5\Attachment\" />
      <Directory Code="Picture" Path="C:\Shared\xPort5\Picture\" />
    </Directories>
    <!-- WEBGUI STATIC RESOURCES MANAGMENT
      The mechanism should be used in a deployment scenario to boost performance. The static
      resoruces mode creates a directory named "Route" and with in it files that are accessed
      directly using the web server instead of dynamicly generated files. You should check that
      there the site can write to that directory.
    -->
    <StaticResources Mode="Off" />
    <!--
      WEBGUI PRIVATE VERSION
      Adds the private version key to the caching key. This key provides a mechanism to invalidate
      both client and server caching. You should use this key when you are delpoying a theme or  
      a new custom control. The server and client caching are per site.
    -->
    <PrivateVersion Value="2" />
    <!--
      WEBGUI PRELOADING
      Chaning the Mode to "On" enables icon preloading mechanism. This mainly prevents IE
      loading the same image multiple times.
    -->
    <IconsPreloading Mode="Off" />
    <UseFlashForUpload Mode="On" />
    <Includes></Includes>
    <ApplicationsMetaData>
      <meta Name="viewport" Content="width=device-width, initial-scale=1.0, user-scalable=0" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="default" />
      <meta name="mobile-web-app-capable" content="yes" />
      <link rel="icon" sizes="192x192" href="https://domain.com/myicon192.png" />
      <link rel="apple-touch-icon" sizes="196x196" href="nvn_icon1_196x196.png" />
      <link rel="apple-touch-startup-image" href="mystartscreen2.png" />
      <!-- needed ! because works not right on ie 9 or 10... -->
      <meta http-equiv="X-UA-Compatible" content="IE=8" />
    </ApplicationsMetaData>
    <ApplicationLinkData>
      <link rel="icon" sizes="192x192" href="https://domain.com/myicon192.png" />
      <link rel="apple-touch-icon" sizes="196x196" href="nvn_icon1_196x196.png" />
      <link rel="apple-touch-startup-image" href="mystartscreen2.png" />
    </ApplicationLinkData>
  </WebGUI>
  <system.diagnostics>
    <switches>
      <!--
      Provides a mechanism for monitor an application using a debug messages viewer or
      in debug time in the output window. Remember to turn turn this feature off in 
      a deplyment scenario.
      0 - Disabled
      1 - Gives error messages
      2 - Gives errors and warnings
      3 - Gives more detailed error information
      4 - Gives verbose trace information
      -->
      <add name="VWG_TracingSwitch" value="0" />
      <!--
      Performance tracing limited to this threshold
      -->
      <add name="VWG_TracingThresholdSwitch" value="10" />
      <!--
      Disables the caching of Visual WebGui resources
      -->
      <add name="VWG_DisableCachingSwitch" value="0" />
      <!--
      Disables client sources obscuring (Mainly for debugging and developing purposes)
      0 - Disabled
      1 - Enabled
      -->
      <add name="VWG_DisableObscuringSwitch" value="1" />
    </switches>
  </system.diagnostics>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="wgx" verb="*" preCondition="integratedMode" path="*.wgx" type="Gizmox.WebGUI.Server.Router,Gizmox.WebGUI.Server,Version=4.5.25701.0,Culture=neutral,PublicKeyToken=3de6eb684226c24d" />
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <!--  WebGUI ROUTER HANDLER
        This http handler routes the requests to Modules/Icons/Images/Css/Xslt/Resoureces.
        Client events are sinked through this router as well.
      -->
      <add verb="*" path="*.wgx" type="Gizmox.WebGUI.Server.Router,Gizmox.WebGUI.Server,Version=4.5.25701.0,Culture=neutral,PublicKeyToken=3de6eb684226c24d" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxThemes.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <!--
        <add assembly="DevExpress.Utils.v15.2, Version=7.2.3.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v15.2, Version=7.2.3.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.PivotGrid.v15.2.Core, Version=7.2.3.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.XtraPivotGrid.v15.2, Version=7.2.3.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Data.v15.2, Version=7.2.3.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Web.v15.2, Version=7.2.3.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.XtraCharts.v15.2.UI, Version=7.2.3.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        
        -->
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    -->
    <globalization resourceProviderFactoryType="Westwind.Globalization.wwDbResourceProviderFactory,Westwind.Globalization" />
    <httpRuntime executionTimeout="3600" maxRequestLength="1024000" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>